# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.YouTrackIntegration.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\vlada\Desktop\YouTrack интеграция\YouTrackIntegration\.idea\.idea.YouTrackIntegration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
